*.ipch
*.pch
*.db
.vs/
*.cmd
.vscode/
.gradle/
/build
/bin/
/test/
/src/main/c/instimpl/.vs/
/src/main/c/instimpl/Build/
/src/main/c/instimpl/Temp/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
/output
